@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none;
  }
  .no-print * {
    display: none;
  }
  .no-print-border {
    border: none;
  }
  .print-div {
    margin: 0 !important;
    padding: 0 !important;
  }
  .print-div * {
    max-width: 100%;
    resize: none !important;
  }
}

@page {
  size: A4 landscape;
  margin: 0;
  padding: 0;
}
