/* 印刷設定 */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .no-print {
    display: none;
  }
  .no-print * {
    display: none;
  }
  .no-print-border {
    border: none;
  }
  .print-div {
    margin: 0;
    padding: 0;
  }
}

@page {
  size: A4 landscape;
  margin: 0;
  padding: 0;
}

/* ローディングダイアログのXボタン非表示 */
.loading button {
  display: none;
}
