@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  .print-size {
    height: 210mm;
    width: 297mm;
  }
  .no-print {
    display: none;
  }
  .no-print * {
    display: none;
  }
  .no-print-border {
    border: none;
  }
  .print-flex {
    display: flex;
  }
  .half-width {
    margin-top: 5%;
    width: 50%;
  }
}

@page {
  size: A4 landscape;
  margin: 0;
  padding: 0;
}
